@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin-bottom: 5rem;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    line-height: 1.7;
}

ul {
    list-style: none;
}

li {
    line-height: 2.2;
}

h1,
h2,
h3 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff !important
}

.container {
    width: 100%;
    /* max-width: 960px; */
    margin: 0 auto;
    padding: 0 20px 70px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* border-bottom: 1px solid #e6e6e6; */
    /* margin-bottom: 60px; */
    /* margin-bottom: 3rem; */
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul li {
    margin-left: 20px;
    font-style: unset;
}

.header ul li a {
    display: flex;
    align-items: center;
}

.header ul li a:hover {
    color: #777 !
}

.header ul li a svg {
    margin-right: 5px;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 20px;
}

.footer {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 100px;
    padding: 0 20px;
    color: #fff
}

.footer2 {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.heading p {
    color: #fff
}

.goals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.goal {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 20px 0 10px;
    position: relative;
    border-radius: 5px;
}

.goal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    border: none;
    background: none;
}

.form {
    width: 35%;
    margin: 0 auto;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
}

.form-group label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
}

form-group2 {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: unset;
    color: #e6e6e6;
}

.gender {
    color: #fff;
    padding: 1rem
}

.btn {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn svg {
    margin-right: 8px;
}

.btn-reverse {
    background: #fff;
    color: #000;
}

.btn-block {
    width: 100%;
    margin-bottom: 20px;
}

.btn:hover {
    transform: scale(0.98);
}

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .form {
        width: 90%;
    }
    .heading h1 {
        font-size: 2rem;
    }
    .heading p {
        font-size: 1.5rem;
    }
}

.tablediv {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.tabletitle {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}


/* ***********new design maquette ********** */

@font-face {
    font-family: NavFont;
    src: url(./assets/Fonts/NotoSans-Bold.ttf);
}

body {
    overflow-x: hidden;
    background-image: url(./assets/Images//background\ 2.png);
    background-size: cover;
    /* height: 6000px; */
}


/* .logo img {
    width: 10%;
} */


/* 
.nav ul {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 2.5%;
}

.nav ul li {
    display: inline-block;
    padding-left: 50px;
    font-family: NavFont;
    color: white;
} */


/* #searchbox {
    width: 120px;
    height: 12px;
    border-radius: 10px;
    background: transparent;
    border-color: white;
    position: absolute;
    left: 85%;
    top: 5.5%;
}

#search {
    width: 1.5%;
    position: absolute;
    left: 93%;
    top: 5.5%;
} */

.firstsection {
    background-image: url(./assets/Images/premierslide.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    /* left: 0%; */
    /* top: -0.3%; */
}

.firstsection button {
    position: absolute;
    left: 4.5%;
    top: 75%;
    width: 150px;
    height: 50px;
    background-image: url(./assets/Images/bouton\get\in\touch.png);
    background-size: cover;
    border: hidden;
}

.firstsection button:hover,
.secondsection button:hover {
    cursor: pointer;
}

.secondsection h1 {
    position: absolute;
    top: 140%;
    left: 4.5%;
    color: white;
    font-family: NavFont;
    font-size: 50px;
}

.secondsection article {
    position: absolute;
    left: 4.7%;
    top: 160%;
    width: 500px;
    color: white;
    font-size: 100%;
    font-family: NavFont;
}

.secondsection button {
    position: absolute;
    left: 4.5%;
    top: 170%;
    width: 150px;
    height: 50px;
    background-image: url(./assets/Images/boutongetintouch.png);
    background-size: cover;
    border: hidden;
}

#first {
    position: absolute;
    left: 50%;
    top: 142%;
    width: 22%;
}

#second {
    position: absolute;
    left: 74%;
    top: 128%;
    width: 22%;
}

.thirdsection h1 {
    position: absolute;
    top: 100%;
    left: 9%;
    color: white;
    font-family: NavFont;
    font-size: 90%;
}

.icons img {
    position: absolute;
    width: 10%;
    top: 240%;
    left: 16%;
}

#money {
    left: 44.5%;
}

#distance {
    left: 77%;
}

#time {
    width: 7%;
}

#timee,
#moneyy,
#distancee,
#unavailability,
#lack,
#transport {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 262%;
    left: 12%;
    background-size: cover;
    border: hidden;
}

#timee,
#moneyy,
#distancee:hover,
.fifthsection button:hover {
    cursor: pointer;
}

#timee {
    background-image: url(./assets/Images/boutontime.png);
}

#moneyy {
    background-image: url(./assets/Images/boutonmoney.png);
    left: 41.5%;
}

#distancee {
    background-image: url(./assets/Images/boutondistance.png);
    left: 74.5%;
}

#imgtime,
#imgmoney,
#imgdistance {
    position: absolute;
    top: 274%;
    left: 18%;
    width: 3%;
}

#imgmoney {
    left: 48%;
}

#imgdistance {
    left: 81%;
}

#unavailability {
    background-image: url(./assets/Images/BoutonUnavailibility.png);
    top: 287%;
}

#lack {
    background-image: url(./assets/Images/BoutonLackoffinancialresources.png);
    top: 287%;
    left: 41.5%;
}

#transport {
    background-image: url(./assets/Images//BoutonTransportcosts.png);
    top: 287%;
    left: 74.5%;
}

#lastinsection {
    position: absolute;
    left: 43.5%;
    top: 307%;
    width: 150px;
    height: 50px;
    background-image: url(./assets/Images/boutongetintouch.png);
    background-size: cover;
    border: hidden;
}

.fourthsection {
    background-image: url(./assets/Images//let_sgovirtual.png);
    background-size: cover;
    width: 105%;
    height: 600px;
    position: absolute;
    left: 0%;
    top: 300%;
}

#text {
    position: absolute;
    left: 1.5%;
    top: 415%;
    width: 100%;
}

.fifthsection button {
    position: absolute;
    left: 45%;
    top: 480%;
    width: 180px;
    height: 60px;
    background-image: url(./assets/Images/boutongetintouch.png);
    background-size: cover;
    border: hidden;
}

.textimage img {
    position: absolute;
    left: 1.5%;
    top: 515%;
    width: 100%;
}

#firstpic,
#secondpic,
#thirdpic {
    position: absolute;
    left: 10%;
    top: 575%;
    width: 26%;
}

#secondpic {
    left: 37.5%;
}

#thirdpic {
    left: 65%;
}

.sixthsection button {
    position: absolute;
    left: 44%;
    top: 658%;
    width: 180px;
    height: 60px;
    background-image: url(./assets/Images/bouton\get\in\touch.png);
    background-size: cover;
    border: hidden;
}

.titleimg img {
    position: absolute;
    left: 0%;
    top: 682%;
    width: 100%;
}

#creative,
#unique,
#authentic {
    position: absolute;
    left: 8%;
    top: 737%;
    width: 25%;
}

#unique {
    left: 37.5%;
}

#authentic {
    left: 67%;
}


/* .titletext img {
    position: absolute;
    left: 1.5%;
    top: 810%;
    width: 100%;
} */

#basic,
#ultumio,
#partners {
    position: absolute;
    left: 5%;
    top: 838%;
    width: 28%;
    padding-bottom: 10rem;
}

#ultumio {
    left: 37%;
}

#partners {
    left: 69%;
}